<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href= "{{ url_for('static',filename='styles/main.css') }}">
		<title>Welcome to the sample!!</title>
	</head>

	<body>
		<form method="get" action="{{ url_for('results') }}">
			<label for="searchterm">What do you want to search for:</label>
			<input type="text" name="searchterm" /><br />
			<input type="text" name='test'/>
			<input type="submit" value="Search" />
		</form>	

		<a href="/my-link/">Hello World</a>
	</body>	
</html>